<div class="container">
  <h1 class="text-center">About bestClip</h1>
    <p class="border-slate-600 py-4 px-4">
      bestClip is an application that shares a photo from your day with friends.
    </p>
    <p class="border-amber-400 py-2 px-2">
      <%= @about %>
</div>