<div class="container">
  <h1 class="text-center">Dashboard</h1>
    <p class="border-slate-600 py-2 px-2">
      Welcome <%= current_user.email %>, You have uploaded a photo.
    </p>
    <p class="border-amber-400 py-4 px-4">
      The <%= @capybara %> is a funny animal. Here is your image.
    </p>
</div>
